*{
background-color: black;
color: white;
}
nav ul li {
text-align: center;
display: inline-block;
width: 19%;
}
h1 {
text-align: center;
}
main {
text-align: center;
margin: 0 auto;
width: 20%;
}
.login {
margin: 0 auto;
}
#register {
text-align: center;
}
#error {
text-align: center;
}