<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="/reset.css">
    <link type="text/css" rel="stylesheet" href="/style.css">
    <title>users</title>
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<ul>
    <li th:each="user : ${users}">
        <span>[[${user.username}]]</span>
        <form action="/view" method="POST">
            <input type="hidden" name="id" th:value="${user.id}">
            <input type="submit" value="View">
        </form>
    </li>
</ul>
</body>
</html>